useDynLib(nbpMatching, mwrap)
import(methods)
importFrom(Hmisc, transcan, hdquantile)
importFrom(MASS, ginv)
exportClasses(distancematrix)
exportMethods(assign.grp, distancematrix, fill.missing, gendistance, make.phantoms, nonbimatch, runner, full.qom, qom, quantile, "[<-", "[[<-", get.sets, scalar.dist)
